<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>simpleCRUD</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>SimpleCrudForm</h1>
    <form action="#" th:action="@{/}" th:object="${message}" method="post">
        <p>ID: <input type="text" th:field="*{id}"/></p>
        <p>Message: <input ty[e="text" th:field="*{content}"/></p>
        <p><input type="submit" value="Submit"/><input type="reset" value="Reset"/></p>
    </form>
</body>
</html>